main, h1{ 
  padding: 1em;
  color: orangered;
}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
  border-radius: 10px;
  box-shadow: 10px 9px 9px 2px rgb(0, 0, 0, .3);
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  list-style-type: None;
  box-shadow: 10px 9px 9px 2px rgb(0, 0, 0, .3);
}

footer{
  border: thin solid black;
}
